# Demo Project and domain

# Shared
NAME=demo
DOMAIN=demo.example.com
TRAEFIK_NET=traefik-public


# DB
MARIADB_PASSWORD_SECRET=pathToSecret
MARIADB_NET=mariadb-public

# WP
WP_VERSION=5.8-php8.0-apache
WP_CPU_LIMIT='1.66'
WP_MEMORY_LIMIT=1500M
WP_CPU_RESERVATION='0.25'
WP_MEMORY_RESERVATION=500M
WORDPRESS_TABLE_PREFIX=wp
